body{
    display:flex;
    height:100vh;
    width:200vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subbody{
    display:flex;
    height:80vh;
    width:80vh;
    justify-content: center;
    align-items: center;
    /* background-color: darkgrey; */
    flex-direction: column;
}
.appl{
    display:flex;
    height:40vh;
    width:70vh;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
}


.appli{
    display:flex;
    height:10vh;
    width:70vh;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}
.ap{
    display:flex;
    height:30vh;
    width:70vh;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
    flex-direction: column;  
}
.align{
    display:flex;
    height:10vh;
    width:70vh;
    justify-content: center;
    align-items: center;
   
}
.l{
    height: 4vh;
    width:20vh;
}
.u{
    color: red;
}
.d{
    display: flex;
    background-color: cadetblue;
}